In [1]:
# imports 
import numpy as np
import pandas as pd

In [2]:
Get the data

SyntaxError: invalid syntax (<ipython-input-2-983a99ab4e57>, line 1)

In [3]:
# give column names to the data set 
column_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [4]:
# read the data set and give coloumn names to it 
df = pd.read_csv('u.data', sep='\t', names=column_names)

In [5]:
# print and check the first five rows  
df.head(10)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742
5       22      377       1  878887116
6      244       51       2  880606923
7      166      346       1  886397596
8      298      474       4  884182806
9      115      265       2  881171488